<?xml version="1.0"?>

<!-- Added to help with loading the manifest.json file for PWA configuration -->
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
     </staticContent>
    </system.webServer>
</configuration> 