.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  justify-content: space-around;
  flex-basis: auto;
}

.webNavBar a {
  font-family: var(--bebas-font);
  font-size: 1.5rem;
}

.webDate h6 {
  font-size: 1.5rem !important;
}

.line {
  border-left: 1px solid var(--bs-dark);
  height: auto;
}

.webFooter a {
  font-family: var(--bebas-font);
  font-size: 1.5rem;
  text-decoration: none;
}

.webFooter a:hover {
  color: var(--bs-success) !important;
  font-size: 1.7rem !important;
}

.webFooter button {
  font-family: var(--bebas-font);
  font-size: 1.2rem;
  text-decoration: none;
  width: 10rem;
}

.line {
  border-left: 1px solid var(--bs-dark);
  height: auto;
}

.webFooter button,
.truckList button {
  font-family: var(--bebas-font);
  font-size: 1.2rem;
  text-decoration: none;
  width: 10rem;
}

.truckList .active {
  background-color: var(--bs-secondary);
  color: var(--bs-light);
}
